footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size:0.9rem;
  margin-top:7rem;
  padding-bottom:8rem;
}

footer a {
  color:var(--color-bg);
}

.footer__logo {
  font-size:1.8rem;
  font-weight:500;
  margin-bottom:2rem;
  display:inline-block;
}

.permalinks {
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap:wrap;
  gap:2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  gap:1rem;
  margin-bottom:2rem;
}

.footer__socials a {
  background:var(--color-bg);
  color:var(--color-white);
  padding:0.8rem;
  border-radius:0.7rem;
  display:flex;
  border: 1px solid transparent
}

.footer__socials a:hover {
  background:transparent;
  color:var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copywright {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  color: var(--color-bg);
}